/* CSS for dashboard */

/* layout mengatur desain header */
header {
  background: #1fcb9d;
  color: fff;
  padding: 15px 20px;
  font-size: 20px;
}
/* mengatur lebar menu dan background */
aside {
  flex: 15%;
  background: #30423d;
}

/* mengatur lebar konten utama dan background */
section.main {
  flex: 85%;
  background: #fff;
  min-height: 530px;
  padding: 15px 20px;
}

/* footer  atur text align dan background */
footer {
  text-align: center;
  background: #ccc;
  color: #555;
  padding: 20px;
}

/* Mengatur layout pada layar kecil(respomsive) */
@media (max-width: 720px) {
  .container {
    flex-direction: column;
  }
}

/* navigasi membuang padding tag ul */
.menu {
  padding: 0;
}
/* *Menambah border bawah tag li */
.menu li {
  border-bottom: 1px dotted #444;
}

/* mengatur menu desain tag a */
.menu a {
  display: block;
  padding: 20px 20px;
  list-style: none;
  color: #fff;
  text-decoration: none;
}

/* Menggatur backhround ketika dipilih */
.menu a:hover {
  background: #000;
}
